
body{
    margin: 0;
    padding: 0;
}

   /********** NAVBAR */
   .navbar{
    padding: 0;
}

#navbar-container{
    padding: 20px 40px;  
    position: absolute;
    top: 20px;
    color: aqua;
}

.navbar-brand{
    color: rgb(140, 197, 254);
    font-weight: bold;
    font-size: 1.5rem;
}


/***************** HERO IMAGES */
.hero-wraper .hero-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wraper .hero-1{
    background-image: url("../images/hero8-effect.jpg");
    text-align: center;
}

.hero-wraper .hero-2{
    background-image: url("../images/hero4.jpg");  
}


/*****************  INTERHERO IMAGES */

.hero-wraper .hero-2 .everywhere-container-images{
    margin: 0 auto;
    padding: 0;
    width: inherit;
    height: 300px;
    position: relative;
}

.hero-wraper .hero-2 .container-img1{
    background-image: url("../images/watch1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position: absolute;
 
}

.hero-wraper .hero-2 .container-img2{
    background-image: url("../images/watch2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position: relative;
 

}

.hero-wraper .hero-2 .container-img3{

    background-image: url("../images/watch5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  

}

.hero-wraper .hero-2 .container-img3
/**** OVERRIDE BOOSTRAP PREDIFINED STYLE COMPONENTS */

.container-fluid{
    padding: 0;
}

.container-fluid{
    padding: 0;
}

/************************************* MOBILE SCREEN */

@media only screen and (min-width: 320px) {

    /********** NAVBAR */
#navbar-container{
    padding: 10px 30px;  
}

#navbar-container .navbar-brand{
    font-size: 1.2rem;  
}
#navbar-container button{
    padding: 5px 15px;
}

    /**************************** HERO SECTIONS ***********/


.hero-wraper .hero-container{
    width: 100%;
    min-height: 100vh;
    max-height: 750px;
}

.hero-wraper .hero-1{
    text-align: center;
    padding: 11% 12%;
}

.hero-wraper .hero-2{
    padding: 30px 0;
}


.hero-wraper .hero-1 h2{
    text-align: center;
    color: azure;
    padding: 13% 0 7% 0; 
    letter-spacing: 0.7px;
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.hero-wraper .hero-1 .call-to-action-heading1{
    text-align: left;
    padding-top: 35%;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size:2.2rem;

}

.hero-wraper .hero-1 .call-to-action-heading2{
    text-align: left;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 2.2rem;


}
.hero-wraper .hero-1 .call-to-action-heading3{
    text-align: left;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 2.2rem;

}

.hero-wraper .hero-2 .everywhere-heading{
    text-align: left;
    padding-top: 18%;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 2.2rem;
}

.hero-wraper .hero-2 .everywhere-text{
    text-align: right;
    margin-top: 30px;
    /* margin-right: 50px; */
    margin-left: 50px;
    max-width: 80%;
    color: azure;
    letter-spacing: 0.7px;
    font-size: 1.5rem;
}

 img{
    width: 100%;
    height: 100px;
   
}

.hero-wraper .hero-2 .everywhere-container-images{
    min-width: inherit;
    max-width: inherit;
    min-height: 220px;
   max-height: 300px;
}

 .hero-wraper .hero-2 .container-img1{
    min-width: 110px;
    max-width: 120px;
    min-height: 40%;
    max-height: 45%;
    position: relative;
    top: 40px;
    right:70px;
}

.hero-wraper .hero-2 .container-img2{
    min-width: 110px;
    max-width: 130px;
    min-height: 40%;
    max-height: 45%;
    position: relative;
    left:60px;
    bottom: 80px;
}

.hero-wraper .hero-2 .container-img3{
    min-width: 100px;
    max-width: 140px;
    min-height: 120px;
    max-height: 120px;
    position: relative;
    bottom: 70px;
    left:0px;
    transform: rotate(8deg);

}  

/* 
.hero-wraper .hero-2 .everywhere-img1{
    min-width: 16;
    max-width: 170px;
    min-height: 160px;
    max-height: 170px;
    position: relative;
    top: 40px;
    right:80px;
}

.hero-wraper .hero-2 .everywhere-img2{
    min-width: 30%;
    max-width: 30%;
    min-height: 150px;
    max-height: 160px;
    position: relative;
    left:80px;
    bottom: 90px;
}

.hero-wraper .hero-2 .everywhere-img3{
    min-width: 165px;
    max-width: 160px;
    min-height: 170px;
    max-height: 165px;
    position: relative;
    bottom: 90px;
    left:0px;
    transform: rotate(8deg);

} */

.hero-2  .row{
    margin: 0 auto;
    max-width: 80%;
}


/************************* INTERHERO SECTIONS */
.interHero-container{
    margin: 0;
    text-align: center;
    min-height: 500px;
    background-color: rgb(11, 32, 51);
    color: white;
    font-size: 16px;
    padding: 100px 0;
}

.interHero-container > .content-container{
    min-height: 400px;
    max-height: 500px;
    min-width: 90%;
    max-width: 90%;
    border-radius: 10px;
}



.interHero-container > .interHero-1{
    border: solid 0.5px white;
}


.interHero-container > .interHero-1 h3{
    padding: 60px 20px 0;
    font-size: 1.8rem;
    max-width: 400px;
    margin: 0 auto;
}

.interHero-container > .interHero-1 > p{
    margin-top: 10%;
    font-size: 1.1rem;
    font-weight: bold;

}

.interHero-container > .interHero-1 .share-icons{
    justify-content: space-around;
    padding-left:  100px;
    padding-right:  100px;
    padding-top: 40px;
     max-width: 400px; 
    margin: 0 auto;
}

.interHero-container > .interHero-1 .share-icons :nth-child(1){
  font-size: 2.8rem;
}

.interHero-container > .interHero-1 .share-icons :nth-child(2){
    font-size: 3.2rem;
  }

.interHero-container > .interHero-2 .row{
    text-align: center;
    letter-spacing: 0.7px;
    /* margin: 50px; */
}

.interHero-container > .interHero-2 .weeklyWord{
    margin-bottom: 0;
    font-size: 1.3rem;
    opacity: 0.7;
}
.interHero-container > .interHero-2 .newContent,
.interHero-container > .interHero-2 .premiumReleases{
    font-size: 1.3rem;
    font-weight: bold;
}

.interHero-container > .interHero-2 .enjoyWord{
    margin-top: 60px;
    margin-bottom: 0;
    
}

.interHero-container > .interHero-2  h3{
    margin-top: 3%;
    font-size: 1.4rem;
    font-weight: normal;
    
}

.interHero-container > .interHero-2  p{
    margin-top: 3%;
    font-size: 1.4rem;
}


.interHero-container > .interHero-2  h5{
    margin-top: 60px;
    font-size: 2.2rem;
    color: rgb(140, 197, 254);
    letter-spacing: 0;
}


/* .interHero-container > .interHero-2  button{
    margin: 40px auto 60px;
background-color: rgb(187, 77, 50); 
border-color: rgb(187, 77, 50);
min-width: 30%;
  max-width: 35%;
  font-weight: bold;
  letter-spacing: 0.5;
  padding: 12px;
} */

.call-to-action{
    margin-top: 5%;
    color: rgb(23, 66, 104);
    font-weight: bold;
}


.call-to-action button:hover{
    /* color: rgb(23, 66, 104); */
    font-weight: normal;
}

}


/*************************************** TABLET SCREEN SIZE*/

@media only screen and (min-width: 600px) {
 
    /********** NAVBAR */
#navbar-container{
    padding: 15px 40px;
}

#navbar-container .navbar-brand{
    font-size: 1.2rem;  
}
#navbar-container button{
    padding: 5px 15px;
}

    /**************************** HERO SECTIONS ***********/


.hero-wraper .hero-container{
    /* width: 100%; */
    min-height: 90vh;
}

.hero-wraper .hero-1 h2{
    padding: 13% 0 7% 0; 
    font-size: 1.8rem;
    margin-left: 70px;
    margin-right: 70px;
}

.hero-wraper .hero-1 .call-to-action-heading1{
    padding-top: 35%;
    margin-left: 70px;
    margin-right: 70px;
    font-size:3rem;
}

.hero-wraper .hero-1 .call-to-action-heading2{
    margin-left: 70px;
    margin-right: 70px;   
    font-size: 3rem;
  
}

.hero-wraper .hero-1 .call-to-action-heading3{
    margin-left: 70px;
    margin-right: 70px;
    font-size: 3rem;

}

.hero-wraper .hero-2 .everywhere-heading{
    text-align: left;
    padding-top: 18%;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 2.4rem;
}

.hero-wraper .hero-2 .everywhere-heading #fword{
display: block;
}

.hero-wraper .hero-2 .everywhere-text{
    text-align: right;
    margin-top: 30px;
    margin-right: 100px;
    color: azure;
    letter-spacing: 0.7px;
    font-size: 1.5rem;
}

.hero-wraper .hero-2 .everywhere-container-images{
    min-width: inherit;
    max-width: inherit;
    min-height: 220px;
   max-height: 300px;
}

 .hero-wraper .hero-2 .container-img1{
    min-width: 150px;
    max-width: 180px;
    min-height: 54%;
    max-height: 57%;
    position: relative;
    top: 40px;
    right:110px;
}

.hero-wraper .hero-2 .container-img2{
    min-width: 155px;
    max-width: 190px;
    min-height: 54%;
    max-height: 59%;
    position: relative;
    left:80px;
    bottom: 80px;
}

.hero-wraper .hero-2 .container-img3{
    min-width: 160px;
    max-width: 200px;
    min-height: 52%;
    max-height: 57%;
    position: relative;
    bottom: 70px;
    left:0px;
    transform: rotate(8deg);

}  

.hero-2  .row{
    margin: 0 auto;
    max-width: 80%;
}


/**************** NTERHERO SECTIONS */
.interHero-container > .interHero-1 h3{
    padding: 60px 20px 0;

    font-size: 2rem;
}

.interHero-container > .interHero-1 > p{
    margin-top: 10%;
    font-size: 1.4rem;
    font-weight: bold;

}

.interHero-container > .interHero-1 .share-icons{
    justify-content: space-around;
    padding-left:  100px;
    padding-right:  100px;
    padding-top: 40px;
}

.interHero-container > .interHero-1 .share-icons :nth-child(1){
    font-size: 3rem;
  }
  
  .interHero-container > .interHero-1 .share-icons :nth-child(2){
      font-size: 3.5rem;
    }

    
.interHero-container > .interHero-2 .weeklyWord{
    margin-bottom: 0;
    font-size: 1.5rem;
    opacity: 0.7;
}

.interHero-container > .interHero-2 .newContent,
.interHero-container > .interHero-2 .premiumReleases{
    font-size: 1.7rem;
    font-weight: bold;
}

.interHero-container > .interHero-2 .enjoyWord{
    margin-top: 60px;
    margin-bottom: 0;
    
}

.interHero-container > .interHero-2  h3{
    margin-top: 3%;
    font-size: 1.6rem;
    font-weight: normal;
    
}

.interHero-container > .interHero-2  p{
    margin-top: 3%;
    font-size: 1.6rem;
}


.interHero-container > .interHero-2  h5{
    margin-top: 70px;
    font-size: 2.3rem;
    color: rgb(140, 197, 254);
    letter-spacing: 0;
}

}

/************************************** DESKTOP SCREEN SIZE */
@media only screen and (min-width: 900px) {

    #navbar-container{
    padding: 20px 80px;
   }

    .navbar-brand{
        font-size: 1.5rem;
    }

/************ FOOTER */
    .container-fluid .footer-container{
        width: 70%;
        min-width: 70%;
        max-width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 80px;
    }

/**************************** HERO SECTIONS ***********/

.hero-wraper .hero-container{
    width: 100%;
    min-height: 700px;
    max-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wraper .hero-1{
    background-image: url("../images/hero8-effect.jpg");
    text-align: center;
}

.hero-wraper .hero-2{
    padding: 30px 0;
    background-image: url("../images/hero4.jpg");  
}

.hero-wraper .hero-container .col{
    background: rgb(11, 32, 51, 0.9);
}

.hero-wraper .hero-1 h1{
    text-align: center;
    padding-top: 70px;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 3rem;

}

.hero-wraper .hero-1 h2{
    text-align: center;
    color: azure;
    /* padding: 5% 10% 7%; */
    padding: 0;
    letter-spacing: 0.7px;
    font-size: 2rem;
}

.hero-wraper .hero-2 .row{
    margin-top: 25px;
    max-width: 80%;
    min-height: 600px;
}

.hero-wraper .hero-2 .everywhere-heading{
    text-align: left;
    padding: 22% 25% 0;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 2.5rem;
}

.hero-wraper .hero-2 .everywhere-container-images{
    margin-top: 120px;
}

.hero-wraper .hero-2 .everywhere-text{
    text-align: right;
    margin-top: 30px;
    margin-right: 80px;
    color: azure;
    letter-spacing: 0.7px;
    font-size: 1.7rem;
}

.hero-wraper .hero-2 .container-img1{
    width: 220px;
    height: 220px;
    background-image: url("../images/watch1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    right:140px;
}

.hero-wraper .hero-2 .container-img2{
    width: 260px;
    height: 280px;
    background-image: url("../images/watch2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right:150px;
    bottom: 150px;

}

.hero-wraper .hero-2 .container-img3{
    width: 230px;
    height: 240px;
    background-image: url("../images/watch5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 140px;
    right: 40px;
    transform: rotate(8deg);

}

.hero-2  .row{
    margin: 0 auto;
    max-width: 80%;
}

/************************* INTERHERO SECTIONS */
.interHero-container{
    margin: 0;
    text-align: center;
    min-height: 700px;
    max-height: 800px;
    background-color: rgb(11, 32, 51);
    color: white;
    font-size: 16px;
    padding: 100px 0;
}

.interHero-container > .content-container{
    min-height: 400px;
    max-height: 500px;
    min-width: 60%;
    max-width: 75%;
    border-radius: 10px;
}


.interHero-container > .interHero-1 .share-icons{
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
}


.interHero-container > .interHero-1{
    border: solid 0.5px white;
    margin-top: 50px;
}

.interHero-container > .interHero-1 p{
    font-size: 2.3rem;
    font-weight: bold;
}

.interHero-container > .interHero-1 h3{
    padding-top: 60px;
    font-size: 2.5rem;
    max-width: 700px;
}

.interHero-container > .interHero-1 > p{
    margin-top: 5%;
    font-size: 1.5rem;
}


.interHero-container > .interHero-2 .row{
    margin: 120px 0 10px;
    text-align: center;
    letter-spacing: 0.7px;
    
}

.interHero-container > .interHero-2 .weeklyWord{
    text-align: left;
    margin: 0 0 0 93px;
    font-size: 1.8rem;
    opacity: 0.7;
}

.interHero-container > .interHero-2 .enjoyWord{
    text-align: left;
    margin: 0 0 0 37px;
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.7;
}

.interHero-container > .interHero-2 .newContent,
.interHero-container > .interHero-2 .premiumReleases{
    font-size: 2.4rem;
    font-weight: bold;
}

.interHero-container > .interHero-2  h5{
    margin-top: 5%;
    font-size: 3.2rem;
    color: rgb(140, 197, 254);
}

.interHero-container > .interHero-2  button{
    margin: 40px auto 60px;
background-color: rgb(187, 77, 50); 
border-color: rgb(187, 77, 50);
min-width: 30%;
  max-width: 35%;
  font-weight: bold;
  letter-spacing: 0.5;
  padding: 12px;
}

.call-to-action{
    margin-top: 5%;
    color: rgb(23, 66, 104);
    font-weight: bold;
}


.call-to-action button:hover{
    /* color: rgb(23, 66, 104); */
    font-weight: normal;
}

}