
body{
    margin: 0;
    padding: 0;
}

/**** OVERRIDE BOOSTRAP PREDIFINED STYLE COMPONENTS */

.container-fluid{
    padding: 0;
}

/************************************** DESKTOP SCREEN SIZE */
@media only screen and (min-width: 900px) {

    /********** NAVBAR */
    .navbar{
        padding: 0;
    }

    #navbar-container{
        padding: 20px 40px;  
        position: absolute;
        top: 20px;
        color: aqua;
      
    }

    .navbar-brand{
        color: rgb(140, 197, 254);
        font-weight: bold;
        font-size: 1.5rem;
    }

    /********* FOOTER */
    .footer-wraper{
        margin: 0;
        padding: 0;
    }
    .container-fluid .footer-container{
        width: 70%;
        min-width: 70%;
        max-width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 80px;
    }

/******************* HERO SECTION ***********/

.hero-wraper .hero-container{
    width: 100%;
    min-height: 90vh;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wraper .hero-1{
    background-image: url("../images/hero8-effect.jpg");
    text-align: center;
}

.hero-wraper .hero-2{
    background-image: url("../images/hero5.jpg");
}

.hero-wraper .hero-1 h1{
    text-align: center;
    padding-top: 15%;
    color: azure;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 3rem;

}

.hero-wraper .hero-1 h2{
    text-align: center;
    color: azure;
    letter-spacing: 0.7px;
    font-size: 2rem;


}

.interHero-container{
    margin: 0;
    text-align: center;
    min-height: 80vh;
    max-height: 85vh;
    background-color: rgb(11, 32, 51);
    color: white;
    font-size: 16px;
    padding: 100px 0;
}

.interHero-container > .content-container{
    min-height: 400px;
    max-height: 500px;
    padding-top: 60px;
    width: 40%;
    min-width: 40%;
    max-width: 60%;
}

.interHero-container > .container-1{
    border: solid 0.5px white;
}

.call-to-action{
    margin-top: 5%;
    color: rgb(23, 66, 104);
    font-weight: bold;
}

.call-to-action button{
    /* color: rgb(23, 66, 104); */
    /* border-color: rgb(23, 66, 104); */
    /* font-weight: bold */

}

.call-to-action button:hover{
    /* color: rgb(23, 66, 104); */
    font-weight: normal;
}

}