/* Deep Red: Use a deep, vintage red color (#FF3838) as your primary color. This can evoke the classic movie theater atmosphere.

Golden Yellow: Complement the deep red with a warm golden yellow (#FFD700) for highlights and accents. It adds a touch of nostalgia.

Classic Black: Incorporate classic black (#000000) for typography and background elements. It provides a timeless and elegant look.

Creamy White: Use a creamy white (#FFFFF0) for text and content backgrounds to create a sense of readability and balance.

Subdued Blue: For contrast, consider a subdued blue (#3A5FCD) for interactive elements like buttons or links.

This color palette combines the rich and warm tones associated with retro aesthetics, creating a visually appealing and nostalgic atmosphere for your movie app. You can adjust the shades to fit your design preferences and branding. */

.hidden {
    display: none;
}

.show {
    display: block;
}

.navTab-wraper {
    margin-top: 110px;

}


.navTab-wraper .navTab-container {
    margin: 0 auto;
    justify-content: center;
}

.navTab-wraper .navTab-container .nav-item {
    margin: auto 30px;
}


@media only screen and (min-width: 900px) {
    .homepage-container {
        padding: 0 7%;
    }

    .presentation-wraper {
        min-width: 100%;
        min-height: 90vh;
        padding: 40px 0;
    }

    .presentation-container .presentation-player-container {
        min-width: 1100px;
        max-width: 1300px;
        /* padding: 50px 0; */
        background-color: blanchedalmond;
    }

    .presentation-player-container .media-player-1 {
        min-width: 550px;
        min-height: 500px;
        padding: 10px 20px;
        background-color: rgb(84, 79, 72);

    }

    .presentation-player-container .media-player-2 {
        min-width: 550px;
        min-height: 500px;
        padding: 10px 20px;
        background-color: rgb(90, 67, 35);
    }


    .film-cover-img {
        width: 200px;
        height: 320px;
        background-color: rgb(0, 0, 0);
    }

    .movieImg {
        width: 100%;
        height: 100%;
    }

    .pagination-container {
        display: flex;
        flex-direction: row;
        padding: 50px 0;
        color: aliceblue;
    }

    .list1 {
        margin-bottom: 20px;
    }

    /*****************************         */

    .section-container {

        margin: 150px auto;
    }

    .section-container h5 {

        font-size: 1.7rem;
        /* padding-left: 50px; */
        text-align: center;
        text-transform: capitalize;
    }
}